body {
  background-color: rgb(255, 250, 242);
  font-family: Roboto;
}

.college-title {
  color: rgb(100, 100, 100);
  display: none;
}

.title {
  color: rgb(100, 100, 100);
}

.popup-contents {
  display: flex;
  position: fixed;
  background-color: rgb(255, 203, 112);
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  text-align: center;
  height: 200px;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(184, 119, 0, 0.2);
}

.popup-title {
  font-size: 20px;
  font-weight: 500;
  color: rgb(100, 100, 100);
}

.college-dropdown {
  margin-top: 10px;
  padding: 5px;
  width: 200px;
}

.page-contents {
  display: none;
  margin-left: 75px;
  margin-right: 75px;
  grid-template-columns: 1fr 1fr 1fr;
}

.btn {
  color: rgb(100, 100, 100);
  width: 100%;
  text-align: left;
  border: none;
  background-color: transparent;
  padding: 10px 10px 10px 10px;
  font-size: 14px;
  display: block;
}

.btn:hover {
  background-color: rgb(241, 206, 144);
}

.del-btn {
  color: rgb(100, 100, 100);
  width: 100%;
  text-align: left;
  border: none;
  background-color: transparent;
  padding: 10px 10px 10px 10px;
  font-size: 14px;
  display: block;
}

.del-btn:hover {
  background-color: rgb(255, 94, 0);
}

.end-btn {
  width: 100%;
  text-align: left;
  border: none;
  background-color: transparent;
  padding: 10px 10px 10px 10px;
  font-size: 14px;
  display: block;
  color: gray;
}

.end-btn:hover {
  background-color: rgba(240, 240, 240);
}

.dropdown {
  position: relative;
  display: inline-block;
  align-items: center;
}

.dropdown-contents {
  background-color: rgb(255, 233, 196);
  max-width: 350px;
  margin-top: 15px;
  box-shadow: 0px 8px 16px 0px rgba(184, 119, 0, 0.2);
  z-index: 1;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgb(238, 177, 72) rgb(255, 221, 161); 
  border-radius: 5px;
}


.dropdown-college {
  height: 150px;
}

.dropdown-uni {
  height: 500px;
}

.dropdown-majors {
  height: 500px;
}

.added-majors-content {
  margin-top: 15px;
}