@tailwind base;
@tailwind components;
@tailwind utilities;

.search-page {
  display: none;
  position: absolute;
  background-color: rgb(255, 250, 242);
  top: 75px;
  height: 100vh;
  width: 100vw;
}

.page-contents {
  display: flex;
  justify-content: space-between;
  grid-template-columns: 5fr 1fr 5fr 1fr 5fr;
  margin-left: 75px;
  margin-right: 75px;
}

.btn {
  color: rgb(100, 100, 100);
  width: 100%;
  text-align: left;
  border: none;
  background-color: transparent;
  padding: 10px 10px 10px 10px;
  font-size: 14px;
  display: block;
}

.btn:hover {
  background-color: rgb(241, 206, 144);
}

.del-btn {
  color: rgb(58, 58, 58);
  width: 100%;
  text-align: left;
  border: none;
  background-color: transparent;
  padding: 10px 10px 10px 10px;
  font-size: 14px;
  display: block;
}

.del-btn:hover {
  background-color: rgb(255, 94, 0);
}

.end-btn-r:hover {
  background-color: rgb(230, 230, 230);
}

.title-r {
  margin-bottom: 15px;
  color: rgb(120, 120, 120);
  display: block;
}

.dropdown-r {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  min-width: 250px;
  max-width: 340px;
}

.dropdown-content-r {
  min-height: 10vh;
  max-height: 80vh;
  overflow-y: scroll;
  background-color: rgb(243, 240, 233);
  border-radius: 5px;
}

.dropdown-a {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  width: 340px;
}

.dropdown-content-a {
  min-width: 250px;
  max-width: 340px;
  background-color: rgb(255, 209, 141);
  border: solid 2px rgb(202, 131, 0);
  border-radius: 5px;
  max-height: 70vh;
  overflow: auto;
}

.college-title {
  color: rgb(100, 100, 100);
  display: none;
}

.arrowhead {
  margin-top: 30vh;
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 16px solid rgb(94, 94, 94);
}

.optimized-courses-btn {
  margin-top: 20px;
  padding: 15px;
  font-size: 16px;
  color: rgb(100, 100, 100);
  background-color: rgb(243, 175, 50);
  border: solid 2px rgb(202, 131, 0);
  border-radius: 5px;
}

.optimized-courses-btn:hover {
  background-color: rgb(196, 141, 39);
  border: solid 2px rgb(170, 111, 0);
}