@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Roboto;
}

.page {
  @apply absolute top-[75px] inset-0 bg-[rgb(252,243,221)]
}

.dropdown {
  @apply relative flex flex-col w-[360px] justify-center items-center
}

.dropdown .searchbar {
  @apply flex justify-between items-center text-[rgb(100,100,100)] bg-white p-[16px] text-xl rounded-[5px] hover:bg-[rgb(241,206,144)] shadow-md
}

.dropdown .content {
  @apply absolute bg-white max-h-0 overflow-y-auto duration-[400ms] rounded-bl-[4px] rounded-br-[4px] shadow-md
}

.triangle {
  @apply h-0 w-0 border-solid border-black border-b-[18px] border-x-[10px] border-x-transparent duration-[300ms] group-hover:rotate-180
}

.content .btn {
  @apply text-gray-600 text-left w-full border-none bg-transparent p-[10px] text-base hover:bg-[rgb(241,206,144)]
}

.dropdown .content .end-btn {
  @apply w-full text-left border-none bg-transparent p-[10px] text-base text-gray-400 hover:bg-gray-100
}

.btn-toggled {
  @apply !bg-[rgb(226,193,136)] !text-gray-700
}

.added-uni {
  @apply text-lg text-gray-600 px-[15px]
}

.circle-label {
  @apply w-[35px] h-[35px] rounded-full border-[2px] border-gray-600 text-gray-600 flex items-center justify-center text-xl font-medium
}

.line {
  @apply h-[2px] bg-gray-600 w-[100px]
}

.added-list {
  @apply flex flex-col absolute top-[19vh] left-[25vh] bg-white rounded-[5px] w-[275px] shadow-lg transition-[height] overflow-hidden duration-1000 h-0
}

.added-list .content {
  @apply h-[40px] text-gray-800 py-[5px] overflow-y-auto
}

.added-list .confirm-btn {
  @apply text-gray-600 mt-auto text-lg bg-orange-300 py-[10px] hover:bg-[rgb(221,148,79)] hover:text-gray-800
}

.added-list .title {
  @apply text-gray-600 text-center text-lg py-[10px] border-b border-gray-600
}

.added-elem {
  @apply ml-[10px] text-lg grid grid-cols-[240px_25px];
}

.grid-elem {
  @apply grid grid-cols-[165px_735px] border-x border-t border-gray-300 w-[900px] h-[80px]
}

.course-result {
  @apply flex items-center justify-center
}

.major-result {
  @apply px-[15px] max-w-[275px];
}

.college-title {
  color: rgb(100, 100, 100);
  display: none;
}

.optimized-courses-btn {
  margin-top: 20px;
  padding: 15px;
  font-size: 16px;
  color: rgb(100, 100, 100);
  background-color: rgb(243, 175, 50);
  border: solid 2px rgb(202, 131, 0);
  border-radius: 5px;
}

.optimized-courses-btn:hover {
  background-color: rgb(196, 141, 39);
  border: solid 2px rgb(170, 111, 0);
}